* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}


html {
  font-size: 10px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}

header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}

h2{
  font-size: 6rem;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section {
  display: flex;
  align-items: center;
  margin-right: 70px;
  cursor: pointer;
}

.left-section img {
  width: 130px;
  padding-left: 16px;
}

.mid-section {
  width: 45%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
}


.mid-section form {
  display: flex;
  height: 37px;
  width: 100%;
}

.mid-section input {
  width: 100%;
  max-width: 500px;
  border-radius: 20px 0 0 20px;
  padding: 12px;
  font-size: 1.6rem;
  border: 1px solid #d3d3d3;
  border-right: none;
}

.mid-section input:focus {
  outline: none;
  border-color: rgb(0, 83, 190);
  box-shadow: 0 0 0.2px rgb(0, 83, 190);
}

.search-link{
  display: flex;
  width: 64px;
  border-radius: 0 20px 20px 0;
}

.mid-section button {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 0 20px 20px 0;
  padding-top: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.mid-section button:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
}

.mid-section .mic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.right-section {
  margin-left: auto;
  width: auto;
}

.right-section a {
  color: black;
  text-decoration: none;
  padding-right: 8px;
}

.show-icons {
  display: none;
}

.content-area {
  position: relative;
  height: calc(100vh - 56px);
  width: 100%;
  display: flex;
  padding: 20px 15px;
  overflow-y: auto;
}

aside {
  position: fixed;
  height: 100%;
  width: 220px;
  background-color: white;
  overflow-y: auto;
  
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-right: 15px;
}

.signin-link{
  display: flex;
  text-decoration: none;
}

.nav-link {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 16px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  height: 35px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05)
}

.nav-link span {
  margin-left: 24px;
  font-size: 1.4rem;
  line-height: 2em;
  color: #030303;
}

.line {
  border-top: 1px solid #e5e5e5;
  margin: 10px 0;
}

.signin-btn {
  width: 100px;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  padding: 6px 8px;
  margin-left: 15px;
  background-color: transparent;
  color: #038ce7;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.signin-btn i {
  margin-right: 5px;
}

.search-icon{
  display: none;
}

nav p {
  font-size: 1.4rem;
  color: #606060;
  padding: 8px 16px;
  text-transform: uppercase;
}

.signin-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 0 16px;
}

.signin-container p {
  color: #030303;
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 2rem;
}

.channel-img {
  height: 24px;
  width: 24px;
  border-radius: 50%;

}


.videos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  left: 220px;
  gap: 1rem;
  padding: 1.6rem;
  margin: 0 auto;
}


.video {
  width: 1fr;
  margin-bottom: 40px;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  height: 160px;
  margin-bottom: 12px;
  border-radius: 10px;
}


.thumbnail img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.video-details {
  display: flex;
}


.creator-img img {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin-right: 12px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title a {
  text-decoration: none;
}

.video-title {
  color: rgb(3, 3, 3);
  font-size: 1.4rem;
  max-width: 200px;
  line-height: 1.8rem;
  margin-bottom: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.video-creator,
.title span {
  color: rgb(96, 96, 96);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;

}

.video-creator:hover {
  color: black;
}


footer {
  font-size: 1.5rem;
  color: #606060;
  padding: 5px 16px;
}

/*
=========
=========
Search
*/

.search-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.6rem;
  position: absolute;
  left: 220px;
}


.search-video {
  width: 1fr;
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 1rem;
  margin-bottom: 40px;
  margin-right: 1.2rem;
  cursor: pointer;
}

/*
=========
=========
Watch
*/

.watch-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 35px 0;
  margin: 0 auto;
  overflow-y: auto;
}

.watch {
  display: flex;
  justify-content: center;
}

iframe {
  padding-top: 1.2rem;
  width: 90%;
  max-width: 900px;
  height: 400px;
}

.watch-videos-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.6rem;
}

.watch-video {
  width: 1fr;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.watch-thumbnail {
  width: 100%;
  height: 100px;
  border-radius: 10px;
}


.watch-thumbnail img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.watch-video-title {
  color: rgb(3, 3, 3);
  font-size: 1.4rem;
  width: 200px;
  line-height: 1.8rem;
  margin-bottom: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width:1200px) {

  aside {
    width: 100px;
  }

  nav {
    padding: 5px;
  }

  .responsive{
    display: none;
  }
  
  .nav-link {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    place-items: center;
    border-radius: 5px;
    margin-bottom: 3px;
  }


  .nav-link span {
    margin-left: 0;
    font-size: 1rem;
    line-height: 3em;
  }

  .line {
    display: none;
  }

  .videos-container {
    grid-template-columns: repeat(3, 1fr);
    left: 115px;
  }

  .search-container {
    left: 115px;
  }

  .watch-main{
    grid-template-columns: 1fr;
  }


}

@media screen and (max-width:992px) {
  .watch-main {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width:792px) {
  aside {
    display: none;
  }

  .right-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-icons {
    display: block;
  }

  .right-section a {
    padding-right: 18px;
  }

  .videos-container {
    grid-template-columns: repeat(2, 1fr);
    left: 8%;
  }

  .search-container {
    left: 8%;
  }

  .watch-main{
    grid-template-columns: 1fr;
  }

  .signin-btn{
    display: none;
  }

}

@media screen and (max-width:567px) {
  .videos-container {
    grid-template-columns: 1fr;
    left: 12%;
  }

  .search-container {
    grid-template-columns: 1fr;
    left: 1%;
  }

  .watch-main{
    grid-template-columns: 1fr;
  }

  .search-video {
    grid-template-columns: 260px 1fr;
  }

}
